@header-color:  #888888;



div.header {
    border-bottom: solid 2px @header-color;
    padding: 0 15px 0 15px;
    margin: 0 5px 10px 5px;
    text-align: right;
    h1 {
        font-size: 2em;
        color: @header-color;
    }
}
