@import "elements.less";

@header-color:  #888888;
@endpoint-color: #123456;
@endpoint-header-bg: #eaeaea;
@endpoint-header-deploy: #888888;
@main-route-bg: @endpoint-header-bg;

@get-color: #0000ff;
@post-color: #ffa600;
@put-color: #9400d3;
@delete-color: #ff0000;

span.required {
    color: red;
}

div.documentation {
    margin-top: 50px;
}

div.header {
    border-bottom: solid 2px @header-color;
    padding: 0 15px 0 15px;
    margin: 0 5px 10px 5px;
    text-align: right;
    h1 {
        font-size: 2em;
        color: @header-color;
    }
}

ul.endpoint-sublist {
    padding: 0 0 0 5px;
    .endpoint-title {
        color: @endpoint-color;
        font-size: 1.5em;    
    }
}

div.success {
    pre {
        background-color: lighten(green, 70%);
    }
}

div.error {
    pre {
        background-color: lighten(red, 40%);
    }
}

div.main-route {
    font-size: 1.5em;
    border-bottom: solid 1px lighten(@header-color, 20%);
    color: @endpoint-color;
    padding: 5px 0 5px 0;
    margin-bottom: 5px;
    cursor: pointer;
    &:hover {
        background-color: @main-route-bg;
    }
}

div.endpoints-list {
    margin-left: 20px;
    section.endpoint{
        margin: 2px 0 2px 0;
        dl {
            margin: 2px 0 2px 0;
        }
        span.description {
            font-weight: normal;
            font-style: italic;
        }

        div.endpoint-header {
            padding: 5px 0 5px 0;
            font-weight: bold;
            cursor: pointer;
            background-color: @endpoint-header-bg;
            .deploy-button {
                display: none;
                color: @endpoint-header-deploy
            }
            &:hover {
                .deploy-button {
                    display: inherit;
                }
            }
            span.method {
                color: white;
                font-size: 0.8em;
                padding: 2px 0px 2px 0px;
                width: 70px;
                display: inline-block;
                text-align: center;
                .rounded(3px);

                &.method-get {
                    background-color: @get-color;
                }

                &.method-post {
                    background-color: @post-color;
                }

                &.method-delete {
                    background-color: @delete-color;
                }

                &.method-put {
                    background-color: @put-color;
                }
            }
        }
    }
}