@import "elements.less";

@header-color:  #888888;
@endpoint-color: #123456;

@get-color: blue;
@post-color: orange;
@put-color: darkviolet;
@delete-color: red;



div.header {
    border-bottom: solid 2px @header-color;
    padding: 0 15px 0 15px;
    margin: 0 5px 10px 5px;
    text-align: right;
    h1 {
        font-size: 2em;
        color: @header-color;
    }
}

ul.endpoint-sublist {
    padding: 0 0 0 5px;
    .endpoint-title {
        color: @endpoint-color;
        font-size: 1.5em;    
    }
}


section.endpoint{
    margin: 2px 0 2px 0;
    dl {
        margin: 2px 0 2px 0;
    }
    span.description {
        font-weight: normal;
        font-style: italic;
    }
    span.method {
        color: white;
        font-weight: bold;
        padding: 2px 0px 2px 0px;
        width: 50px;
        display: inline-block;
        text-align: center;
        .rounded(3px);
    }
    .method-get {
        cursor: pointer;
        span.method {
            background-color: @get-color;
        }
        background-color: lighten(@get-color, 30%);
    }

    .method-post {
        cursor: pointer;
        span.method {
            background-color: @post-color;
        }
        background-color: lighten(@post-color, 30%);
    }

    .method-delete {
        cursor: pointer;
        span.method {
            background-color: @delete-color;
        }
        background-color: lighten(@delete-color, 30%);
    }

    .method-put {
        cursor: pointer;
        span.method {
            background-color: @put-color;
        }
        background-color: lighten(@put-color, 30%);
    }
}