{
    "application": {
        "database": {
            "host": "localhost",
            "port": "27017",
            "name": "test"
        }
    },
    "server": {
        "port": 8080
    },
    "oauth": {
        "refresh-token": {
            "secret": "my refresh token secret",
            "expire-in-minutes": -1
        },
        "access-token": {
            "secret": "my access token refresh",
            "expire-in-minutes": 30
        }
    },
    "launcher": {
        "./server.js": {
            "nb-forks": 2,
            "options": {
                "port": 8080
            }
        }
    }
}